#retomar {
  display: block;
  width: 270px;
  height: 65px;
  outline: none;
  position: fixed;
  bottom: 15px;
  background-color: #2b2b2b;
  border-radius: 20px;
  transform: translate(-50%);
  left: 50%;
  opacity: 1;
  transition: opacity 0.3s;
}

#retomar .arrow {
  background-color: transparent;
  display: inline-block;
  height: 20px;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  width: 20px;
  top: 100%;
  transform: rotate(90deg) translateY(-115px);
}

#retomar .arrow:before {
  cursor: pointer;
  background-color: #2b2b2b;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  content: '';
  height: 8px;
  position: absolute;
  width: 8px;
  -moz-transform: translate(0, 4.34315px) rotate(45deg);
  -ms-transform: translate(0, 4.34315px) rotate(45deg);
  -webkit-transform: translate(0, 4.34315px) rotate(45deg);
  transform: translate(0, 4.34315px) rotate(45deg);
}

#retomar .body {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#retomar p {
  font-size: 12px;
  margin: 0;
}

#retomar .options {
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}

#retomar .options span {
  box-shadow: 0 1px 0 0 currentColor;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 3px;
}